$red : #ff1a1a;
$blue: #5b9cff;
$green: #2dfc00;
$yellow: #fff3a6;

$red-palatte: (

    50: #f3e0e0,
    100: #e0b3b3,
    200: #cc8080,
    300: #b84d4d,
    400: #a82626,
    500: #990000,
    600: #910000,
    700: #860000,
    800: #7c0000,
    900: #6b0000,
    A100: #ff9a9a,
    A200: #ff6767,
    A400: #ff3434,
    A700: #ff1a1a,

    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff
    )
);

$green-palatte: (
    50: #e7efe4,
    100: #c3d6bb,
    200: #9cbb8e,
    300: #749f61,
    400: #568b3f,
    500: #38761d,
    600: #326e1a,
    700: #2b6315,
    800: #245911,
    900: #17460a,
    A100: #94ff7d,
    A200: #6aff4a,
    A400: #40ff17,
    A700: #2dfc00,

    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff
    )
);

$yellow-palatte: (
    50: #fffde0,
    100: #fffab3,
    200: #fff680,
    300: #fff24d,
    400: #fff026,
    500: #ffed00,
    600: #ffeb00,
    700: #ffe800,
    800: #ffe500,
    900: #ffe000,
    A100: #ffffff,
    A200: #fffdf2,
    A400: #fff6bf,
    A700: #fff3a6,

    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff
    )
);

$blue-palatte: (
    50: #e8f0f8,
    100: #c5daee,
    200: #9ec2e3,
    300: #77aad7,
    400: #5a97cf,
    500: #3d85c6,
    600: #377dc0,
    700: #2f72b9,
    800: #2768b1,
    900: #1a55a4,
    A100: #dae9ff,
    A200: #a7caff,
    A400: #74abff,
    A700: #5b9cff,

    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff
    )
);