<!-- Login form -->
<form method="post" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="mb-3">
        <h2 class="h2 text-center">Login</h2>
        <h4 class="h4 text-center">Please enter user name and password</h4>
    </div>

    <div class="mb-3">
        <label for="mailid" class="form-label">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="mailid" aria-describedby="emailHelp" required autofocus>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control" id="password" required>
    </div>
    <div class="mb-3 form-check">
        <input formControlName="keepsign" type="checkbox" class="form-check-input" id="keepsign" value="true">
        <label class="form-check-label" for="keepsign">Keep me signed in</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>

    <div class="mt-5 text-center">
        <label>Not having account? Please </label> &nbsp;
        <a routerLink="/register" class="btn-link">Register</a>
    </div>

</form>
