<!-- Login form -->
<form method="post" [formGroup]="signupForm" (ngSubmit)="onRegister()">
    <div class="mb-3">
        <h2 class="h2 text-center">Register</h2>
        <h4 class="h4 text-center">Please fill the following details</h4>
    </div>

    <div class="mb-3">
        <label for="mailid" class="form-label">Full Name</label>
        <input formControlName="fullname" type="text" class="form-control" id="mailid" aria-describedby="emailHelp" required autofocus>        
    </div>

    <div class="mb-3">
        <label for="mailid" class="form-label">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="mailid" aria-describedby="emailHelp" required>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control" id="password" required>
    </div>
    <div class="mb-3">
        <label for="confirmpassword" class="form-label">Confirm Password</label>
        <input formControlName="confirmpassword" type="password" class="form-control" id="confirmpassword" required>
    </div>
    <div class="mb-3 form-check">
        <input formControlName="agreeterms" type="checkbox" class="form-check-input" id="agreeterms">
        <label class="form-check-label" for="agreeterms">agree terms and conditions</label>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>

    <div class="mt-5 text-center">
        <label>Already having account? Please </label> &nbsp;
        <a routerLink="/login" class="btn-link">Login</a>
    </div>
</form>
