<div class="container-fluid py-5">

    <div class="row">

        <div class="col-md-12">

            <div class="accordion" id="dashboardAccordion">

                <div class="accordion-item">
                  <h2 class="accordion-header" id="productReportHeading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#productReport" aria-expanded="true" aria-controls="productReport">
                      Products Summary
                    </button>
                  </h2>
                  <div id="productReport" class="accordion-collapse collapse show" aria-labelledby="productReportHeading" data-bs-parent="#dashboardAccordion">
                    <div class="accordion-body">
                      
                        <div class="row justify-content-center">

                            <div class="col-md-3">
                    
                                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Primary card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Secondary card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Success card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Danger card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Warning card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Info card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Light card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Dark card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                        </div>

                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="purchaseReportHeading">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#purchaseReport" aria-expanded="false" aria-controls="purchaseReport">
                      Purchase Summary
                    </button>
                  </h2>
                  <div id="purchaseReport" class="accordion-collapse collapse" aria-labelledby="purchaseReportHeading" data-bs-parent="#dashboardAccordion">
                    <div class="accordion-body">
                      
                        <div class="row justify-content-center">

                            <div class="col-md-3">
                    
                                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Primary card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Secondary card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Success card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Danger card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Warning card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Info card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Light card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Dark card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                        </div>

                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="salesReportHeading">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#salesReport" aria-expanded="false" aria-controls="salesReport">
                      Sales Summary
                    </button>
                  </h2>
                  <div id="salesReport" class="accordion-collapse collapse" aria-labelledby="salesReportHeading" data-bs-parent="#dashboardAccordion">
                    <div class="accordion-body">
                      
                        <div class="row justify-content-center">

                            <div class="col-md-3">
                    
                                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Primary card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Secondary card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Success card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Danger card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Warning card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Info card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Light card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div class="col-md-3">
                    
                                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Header</div>
                                    <div class="card-body">
                                      <h5 class="card-title">Dark card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    
                            </div>
                    
                        </div>

                    </div>
                  </div>
                </div>

            </div>

        </div>
        
    </div>

    

</div>



  
  
  
  
  
  
